body{
	font-family: 'Ubuntu', sans-serif;
}
h3{
	font-size: 30px;
	color: #373737;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #363636;
}


/* Header */
.header{
	background:-webkit-linear-gradient(rgba(31, 50, 69, 0.722),rgba(31, 50, 69, 0.722));
	background:-o-linear-gradient(rgba(31, 50, 69, 0.722),rgba(31, 50, 69, 0.722));
	background:linear-gradient(rgba(31, 50, 69, 0.722),rgba(31, 50, 69, 0.722)), url('../images/banner.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}
.header_bg{
	/* background-color: rgba(31, 50, 69, 0.722); */
	/* min-height: 700px; */
}
.nav_bar{
	margin-top: 35px;
}
.btn-group .dropdown-toggle{
	background-color: transparent;
	border:1px solid transparent;
	color: #fff;
	font-size: 16px;
}
.btn .caret{
	color: #e09125;
	margin-left: 5px;
}
.btn-group .dropdown-toggle:focus{
	border: 1px solid #ccc;
	background-color: transparent;
}
.nav li:nth-child(3){
	margin-right: 20px;
}
.nav li>a{
	color: #fff;
	font-size: 16px;
	border-top: 1px solid transparent;
	border-radius: 0px;
	padding: 10px;
}
.nav li>a:hover{
	background-color: transparent;
	color: #889bbf;
	border-top: 1px solid #889bbf;
	border-radius: 0px;
}
.nav li>a:focus{
	background-color: transparent;
}
.nav .square_link>a{
	color: #fff;
	background-color: rgb(235, 141, 14);
	border: 2px solid rgb(235, 141, 14);
	border-radius: 4px;
}
.nav .square_link>a:hover{
	color: #fff;
	border: 2px solid rgb(250, 141, 14);
	background-color: rgb(250, 141, 14);
	border-radius: 4px;
}
.navbar-fixed-top{
	background-color: #282e39;
	margin-top: 0px;
	padding: 15px;
}
.back_links{
	margin-top: 100px;
}
.back_links a{
	color: #3b5075;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.banner_text h1{
	margin-top: 115px;
	margin-bottom: 60px;
	color: #fff;
	font-size: 40px;
	font-weight: 300;
}
.canvas{
	position: relative;
	display: inline-block;
	margin-bottom: 60px;
}
.canvas::after{
	content: 'економії на опаленні';
	position: absolute;
	top: 105px;
	left: 44px;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 16px;
	width: 110px;
}
.banner_btn .btn-primary{
	border-radius: 4px;
	border-color: transparent;
	background-color: rgb(235, 141, 14);
	padding: 20px 25px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 130px;
}
.banner_btn .btn-primary:hover{
	background-color: rgb(250, 141, 14);
}
.banner_btn .btn-primary:focus{
	background-color: rgb(250, 141, 14);
	color: #333;
	outline: none;
}
/* Header */


/* About section */
.about img{
	height: 132px;
	margin-top: 110px;
}
.about h3{
	color: #333;
}
.about p{
	margin-bottom: 110px;
}
/* About section */


/* Advantages */
.advantages_bg{
	background-image: url('../images/Section 3.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	height: 100%;
}
.advantages_bg h3{
	margin-top: 100px;
	margin-bottom: 20px;
	color: #fff;
}
.advantages_bg p{
	color: #889bbf;
	margin-bottom: 60px;
}

/* List style */
.advant_list{
	margin-bottom: 100px;
	font-size: 20px;
	color: #fff;
}
.advant_list ol>li{
	padding-top: 45px;
	padding-left: 45px;
	position: relative;
	list-style: none;
}
.list_1 ol>li:nth-child(1)::before{
	content: url('../images/circle-1.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_1 ol>li:nth-child(2)::before{
	content: url('../images/circle-2.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_1 ol>li:nth-child(3)::before{
	content: url('../images/circle-2.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_1 ol>li:nth-child(4)::before{
	content: url('../images/circle-4.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_1 ol>li:nth-child(5)::before{
	content: url('../images/circle-5.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_2 ol>li:nth-child(1)::before{
	content: url('../images/circle-6.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_2 ol>li:nth-child(2)::before{
	content: url('../images/circle-7.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_2 ol>li:nth-child(3)::before{
	content: url('../images/circle-8.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_2 ol>li:nth-child(4)::before{
	content: url('../images/circle-9.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_2 ol>li:nth-child(5)::before{
	content: url('../images/circle-10.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_3 ol>li:nth-child(1)::before{
	content: url('../images/circle-11.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_3 ol>li:nth-child(2)::before{
	content: url('../images/circle-12.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_3 ol>li:nth-child(3)::before{
	content: url('../images/circle-13.png');
	position: absolute;
	top: 35px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_3 ol>li:nth-child(4)::before{
	content: url('../images/circle-14.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
.list_3 ol>li:nth-child(5)::before{
	content: url('../images/circle-15.png');
	position: absolute;
	top: 50px;
	left: -15px;
	width: 40px;
	height: 40px;
}
/* List style */

/* Advantages */


/* Costs */
.costs h3{
	margin-top: 95px;
	margin-bottom: 20px;
}
.costs p{
	margin-bottom: 60px;
}
.costs img{
	height: 100px;
}
.costs span{
	margin-top: 30px;
	margin-bottom: 15px;
	display: block;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #363636;
}
.costs span:last-child{
	margin-top: 0px;
}
.costs .col-md-2{
	margin-bottom: 100px;
}
.bar_container{
	width: 160px;
	height: 30px;
	background-color: #ccc;
}
.bar_container .line{
	height: 100%;
}
.bar_container .bar_1{
	width: 100%;
	background-color: #e05353;
}
.bar_container .bar_2{
	width: 80%;
	background-color: #ff8251;
}
.bar_container .bar_3{
	width: 70%;
	background-color: #ff9333;
}
.bar_container .bar_4{
	width: 60%;
	background-color: #ffc047;
}
.bar_container .bar_5{
	width: 30%;
	background-color: #f8e516;
}
.bar_container .bar_6{
	width: 10%;
	background-color: #57cd7b;
}
/* Costs */


/* Structure */
.structure_bg{
	background-color: #f4f5f8;
}
.structure h3{
	margin-top: 100px;
}
.structure p{
	margin-bottom: 55px;
}
.structure_description p{
	margin-bottom: 20px;
}
.structure_description{
	margin-bottom: 140px;
}
/* Structure */


/* Products */
.products h3{
	margin-top: 100px;
}
.products p{
	margin-bottom: 55px;
}
.rslides{
	list-style: none;
	position: relative;
}
.rslides .product_desc{
	margin-bottom: 0px;
}
.slider{
	margin-bottom: 100px;
	position: relative;
}
.product_container{
	margin-right: 20px;
	width: 262px;
	height: 470px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	padding-left: 0px;
}
.product_container:hover{
	box-shadow: 0px 20px 25px 4px rgb(229, 229, 229);
}
.product_container img{
	width: 260px;
}
.product_container:hover>img{
	opacity: 0.7;
}
.product_description{
	padding: 12px;
}
.product_description hr{
	color: #e5e5e5;
}
.product_desc{
	height: 60px;
}
.product_header{
	font-size: 20px;
	color: #3b5075;
}
.product_header:hover{
	color: #889cbf;
}
.product_description span{
	display: block;
}
.product_description .product_price{
	font-size: 20px;
	color: #57cd7b;
}
.product_description .work_time, .square{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #363636;
	padding-top: 10px;
	padding-left: 15px;
	position: relative;
}
.work_time::before{
	content: url('../images/time.png');
	position: absolute;
	top: 12px;
	left: -3px;
	width: 14px;
	height: 14px;
}
.square::before{
	content: url('../images/square.png');
	position: absolute;
	top: 12px;
	left: -3px;
	width: 14px;
	height: 14px;
}
.rslides1_nav.next {
	left: auto;
	background-position: right top;
	right: -60px;
	background: transparent url('../images/btn_prev.png') no-repeat left;
	transform: rotate(180deg);
}
.rslides1_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: -45px;
	z-index: 99;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 71px;
	width: 71px;
	background: transparent url("../images/btn_prev.png") no-repeat left top;
	margin-top: -45px;
}
.rslides1_nav.next:hover{
	background: transparent url('../images/btn_next_hover.png') no-repeat left;
	transform: rotate(0deg);
}
.rslides1_nav:hover{
	background: transparent url('../images/btn_next_hover.png') no-repeat left top;
	transform: rotate(180deg);
}
/* Products */


/* Footer */
footer{
	background-color: #272e3b;
}
.bot_footer{
	background-color: #20252e;
	color: #889cbf;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.copyright address{
	margin-bottom: 25px;
	margin-top: 25px;
}
.design address{
	margin-top: 25px;
	margin-bottom: 25px;
	float: right;
}
footer .logo{
	display: inline-flex;
	margin-top: 75px;
}
footer address{
	display: inline-block;
}
footer .location{
	margin-top: 72px;
	margin-left: 15px;
	color: #889cbf;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
footer .loc{
	border-bottom: 2px solid #1f2930;
	padding-bottom: 45px;
}
footer .social p{
	margin-bottom: 20px;
	margin-top: 72px;
	color: #889cbf;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.social i {
	border-radius: 4px;
	background-color: rgb(50, 59, 75);
	width: 113px;
	height: 60px;
	font-size: 40px;
	color: #272e3b;
	text-align: center;
	padding-top: 10px;
	margin-right: 3px;
}
.social a:hover{
	text-decoration: none;
}
.social i:hover{
	background-color: #475265;
	color: #f59805;
}
.subscribe{
	margin-bottom: 60px;
}
.subscribe p{
	margin-top: 40px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #889cbf;
	margin-bottom: 15px;
}
.subscribe input{
	background-color: rgb(32, 37, 46);
	width: 247px;
	height: 50px;
	border:none;
	color: #889cbf;
	font-size: 16px;
	text-indent: 20px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.subscribe input:focus{
	outline: none;
	box-shadow: none;
}
.subscribe .btn-default{
	width: 100px;
	height: 50px;
	background-color: #eb8d0e;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.subscribe .btn-default:hover{
	background-color: rgb(250, 141, 14);
}
.subscribe .btn-default:focus{
	outline: none;
}
.info{
	margin-top: 60px;
}
.info address{
	position: relative;
	padding-left: 0px;
}
.link{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #bad3ff;
}
.link:hover{
	color: #f59805;
	text-decoration: none;
}
.info .phone{
	padding-left: 20px;
	padding-right: 75px;
	color: #889cbf;
}
.info .phone::before{
	content: url('../images/phone.png');
	position: absolute;
	top: -5px;
	left: -10px;
}
.info .email::before{
	content: url('../images/mail.png');
	position: absolute;
	top: 0;
	left: -30px;
}
.info .email{
	padding-right: 60px;
}
.info .skype::before{
	content: url('../images/skype.png');
	position: absolute;
	top: 0;
	left: -30px;
}
.info .skype{
	padding-right: 30px;
}
.info .cell_1::before{
	content: url('../images/cell_1.png');
	position: absolute;
	top: 0;
	left: -15px;
}
.info .cell_1{
	padding-left: 20px;
	padding-right: 53px;
}
.info .cell_2{
	padding-right: 60px;
}
.info .cell_3::before{
	content: url('../images/cell_3.png');
	position: absolute;
	top: -2px;
	left: -25px;
}
/* Footer */


/* PRODUCTS PAGE */
.prod_title h1, .contact_title h1{
	margin-top: 0px;
	font-size: 40px;
	color: #373737;
}
.prod .product_container{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 50px;
}
/* PRODUCTS PAGE */


/* CONTACTS PAGE */
.feedback h3{
	font-size: 24px;
	font-weight: normal;
}
.feedback label{
	font-size: 14px;
	margin-bottom: 20px;
}
.feedback label>sup{
	color: red;
}
.feedback input {
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.06);
	width: 258px;
	height: 48px;
	text-indent: 20px;
	margin-bottom: 30px;
}
.feedback input:focus, .message textarea:focus{
	outline: none;
	border-color: #f59805;
}
.message textarea{
	width: 95%;
	height: 110px;
	text-indent: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.06);
	padding-top: 15px;
}
.check{
	margin-top: 30px;
	margin-left: 5px;
}
.submit .btn-primary{
	border: none;
	border-radius: 4px;
	background-color: rgb(245, 152, 5);
	width: 200px;
	height: 50px;
}
.submit .btn-primary:focus{
	background-color: transparent;
	border: 1px solid rgb(250, 152, 5);
	border-radius: 4px;
	color: #333;
	outline: none;
}
.submit .btn-primary:hover{
	background-color: rgb(250, 152, 5);
}
.feedback{
	border-right: 1px solid #ccc;
}
.contacts_sidebar h3{
	font-size: 24px;
}
.place_info{
	font-size: 14px;
}
.contacts_sidebar{
	padding-left: 35px;
	padding-right: 0px;
}
.contacts_sidebar .link{
	color: #5a78ad;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.contacts_sidebar .link:hover{
	color: #f59805;
	text-decoration: none;
}
.contacts_sidebar .phone, .email, .skype, .cell_1, .cell_2, .cell_3{
	padding-left: 30px;
	position: relative;
}
.contacts_sidebar .phone::before{
	content: url('../images/phone.png');
	position: absolute;
	top: -7px;
	left: 0;
}
.contacts_sidebar .email::before{
	content: url('../images/mail.png');
	position: absolute;
	top: 0;
	left: 0;
}
.contacts_sidebar .skype::before{
	content: url('../images/skype.png');
	position: absolute;
	top: 0;
	left: 0;
}
.contacts_sidebar .cell_1::before{
	content: url('../images/cell_1.png');
	position: absolute;
	top: 0;
	left: 0;
}
.contacts_sidebar .cell_3::before{
	content: url('../images/cell_3.png');
	position: absolute;
	top: -2px;
	left: 0;
}
#map{
	margin-top: 80px;
	width: 100%;
	height: 400px;
}
/* CONTACTS PAGE */

/* CALCULATOR PAGE */
.calc h5{
	font-size: 24px;
	color: #373737;
	margin-bottom: 28px;
}
.calc_data{
	background-color: #f4f5f8;
	padding-left: 20px;
	padding-right: 30px;
}
.calc_data label:first-child, .calc_data input:first-child{
	margin-top: 58px;
}
.calc_data input, select{
	float: right;
	border-style: solid;
	border-width: 1px;
	border-color: #d0d0d3;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.06);
	width: 218px;
	height: 48px;
	text-indent: 20px;
	margin-bottom: 25px;
}
.calc_data input:focus, select:focus{
	border-color: #f59805;
	outline: none;
}
.calc_data label{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	padding-bottom: 50px;
}
.calc_data label>sup{
	color: red;
}
.left_column, .right_column{
	padding: 0px;
}
.calculation{
	margin-right: 0px;
	margin-left: 0px;
}
.recomended_product hr{
	margin-top: 0px;
	margin-bottom: 40px;
}
.recomended_product .recomend{
	font-size: 16px;
	color: #000;
	display: block;
	margin-bottom: 17px;
}
.recomended_product .prod_link{
	font-size: 24px;
	color: #5b6a89;
	display: block;
	margin-bottom: 17px;
}
.recomended_product .recomend_price{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #363636;
	margin-bottom: 43px;
	display: inline-block;
	position: relative;
	padding-left: 22px;
}
.recomended_product .recomend_price b{
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #57cd7b;
	display: inline-block;
	margin-left: 14px;
}
.recomended_product .recomend_price::before{
	content: url('../images/recomend_price.png');
	position: absolute;
	top: 12px;
	left: 2px;
}
.recomended_product .recomend_power, .recomend_class, .recomend_square, .recomend_time{
	margin-bottom: 16px;
	display: block;
	position: relative;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	padding-left: 22px;
}
.recomended_product .recomend_power::before{
	content: url('../images/recomend_power.png');
	position: absolute;
	top: 3px;
	left: 2px;
}
.recomended_product .recomend_class::before{
	content: url('../images/recomend_class.png');
	position: absolute;
	top: 1px;
	left: 2px;
}
.recomended_product .recomend_square::before{
	content: url('../images/square.png');
	position: absolute;
	top: 1px;
	left: 2px;
}
.recomended_product .recomend_time::before{
	content: url('../images/time.png');
	position: absolute;
	top: 2px;
	left: 2px;
}
.btn-primary.manager_call {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 25px;
	background-color: #ff9f1c;
	color: #fff;
	font-size: 14px;
	border: none;
	position: relative;
}
.btn-primary.manager_call:focus{
	background-color: rgb(250, 152, 5);
	outline: none;
}
.btn-primary.manager_call:hover{
	background-color: rgb(250, 152, 5);
}
.btn-primary.manager_call::before{
	content: url('../images/manager_call.png');
	position: absolute;
	top: 13px;
	left: 30px;
}
.right_part .btn-primary{
	padding: 20px 84px;
	background-color: transparent;
	border: 1px solid #ff9f1c;
	color: #ff9f1c;
	font-size: 14px;
	border-radius: 4px;
	position: relative;
	margin-top: 109px;
	margin-left: 20px;
}
.right_part .btn-primary::after{
	content: '>';
	color: #ff9f1c;
	position: absolute;
	top: 20px;
	right: 50px;
}
.right_part .btn-primary:focus{
	background-color: rgb(250, 152, 5);
	color: #fff;
}
.right_part .btn-primary:hover{
	background-color: rgb(250, 152, 5);
	color: #fff;
}
.right_part .btn-primary:hover::after{
	content: '>';
	color: #fff;
	position: absolute;
	top: 20px;
	right: 50px;
}
/* CALCULATOR PAGE */

/* MEDIA QUERIES */

/* MEDIA QUERIES */